@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">

	<h1 class="display-4"><i class="bi bi-backpack-fill"></i>SESI/SENAI</h1>
	<img src="~/img/sesi.png" alt="Lukas Bergmann" class="img-sesi" />
	<p>Bem vindo á página inicial do interclasse da rede SESI/SENAI!</p>
</div>
<div class="row text-center">

	<div class="col-12 col-md-4 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<i class="bi bi-trophy-fill fs-1"></i>
				<h5 class="card-title">Corpo em Movimento</h5>
				<p class="card-text text-muted">A Educação e a Disciplina caminhando juntos com o Esporte!</p>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-4 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<i class="bi bi-backpack-fill fs-1"></i>
				<h5 class="card-title">Integração</h5>
				<p class="card-text text-muted">Promover a Integração do Esporte ao Ensino</p>

			</div>
		</div>
	</div>
	<div class="col-12 col-md-4 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<i class="bi bi-emoji-laughing fs-1"></i>
				<h5 class="card-title">Celebração</h5>
				<p class="card-text text-muted">Celebrar a Paz e o Final do Semestre com Competitividade e Emoção!</p>
			</div>
		</div>
	</div>

	<img src="~/img/bergmann.png" alt="Lukas Bergmann" class="img-fixed">

</div>
